body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  height: 100%;
}

.bg {
  background-image: url('https://images.unsplash.com/photo-1561144534-f04d7c85b8a9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  max-width: unset !important;
}

.form-group {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.home {
  padding-top: 40vh;
}

.search {
  padding-top: 5vh;
}

.form-label {
  color: #f8f9fa;
  font-size: 2.5rem;
}

.btn-submit-home {
  background-color: transparent !important;
  border-color: #f8f9fa !important;
}

.btn-submit-search {
  color: black !important;
  background-color: #dee0df !important;
  border-color:  #dee0df !important;
  font-weight: 600 !important;
}

.gallery-box{
  display: inline-flex;
}

iframe {
  position: unset !important;
}

.pagination-controls {
  display: flex;
  padding-top: 40px;
  justify-content: center;
  list-style-type: none;
}

.pagination-controls-button {
  background-color: #dee0df;
  border-radius: 0.15em;
  cursor: default;
  margin: 0 0.25em;
  padding: 0.5em 0.75em;
}

.pagination-controls-button:hover:not(:active) {
  transition: transform 0.15s;
  transform: translateY(-5px);
}

.pagination-links {
  color: black;
  font-size: large;
  font-weight: 600;
}

.autocomplete {  
  position: absolute;
  width: 100%;
  z-index: 989;
}

.suggestions {
  background: white;
}

.suggestions-li{
  list-style-type: none;  
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.15em;
  cursor: pointer;
  padding: 0.5em 0.75em;
  background: white;
  width: 500px;
  margin: inherit;
  margin-top: 10px;
}

.suggestions-li:hover:not(:active) {
  transition: transform 0.15s;
  transform: translateY(-5px);
}
