body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  height: 100%;
}

.container {
  max-width: unset !important;
}

.bg {
  background-image: url('https://images.unsplash.com/photo-1561144534-f04d7c85b8a9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

.form-group {
  padding-top: 40vh;
  padding-left: 15vh;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.form-group-search {
  padding-top: 5vh;
}

.form-label {
  color: #f8f9fa;
  font-size: 2.5rem;
}

.btn-submit-home {
  background-color: transparent !important;
  border-color: #f8f9fa !important;
}

.gallery-box{
  position: relative;
}

.gallery-div {
  position: absolute;
  left: 15%;
}

.pagination {
  display: inline-flex !important;
  padding-top: 40px;
  justify-content: center;
}